In [1]:
from setup_ut import *

C:\Users\emily\miniconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [18]:
dtindex = readdata('dtindex')

In [33]:
TA_2 = pd.DataFrame(index = dtindex, columns = tc.index) 
H2O_2 = pd.DataFrame(index = dtindex, columns = tc.index)

#Set vertical gradients to calc 10 and 30 m values
#Could make these functions of time
TA_vert_grad = 0 
H2O_vert_grad = 0

for tow in TA_2.columns:
    TA_2[tow] = 20 + 0.4 * tc['x'].loc[tow]
    H2O_2[tow] = 10 + 0.2 * tc['x'].loc[tow]
    
TA_10 = TA_2 + 8*TA_vert_grad
TA_30 = TA_2 + 28*TA_vert_grad
        
        
H2O_10 = H2O_2 + 8*H2O_vert_grad
H2O_30 = H2O_2 + 28*H2O_vert_grad
        
#Make same format at actual data, if I move height to column, need to do that here too
TA_all = pd.concat([TA_2, TA_10, TA_30], keys = [2, 10, 30])
H2O_all = pd.concat([H2O_2, H2O_10, H2O_30], keys = [2, 10, 30])

TA_all.to_pickle('../UnitTest/Inputs/TA_orig_all.pickle')
H2O_all.to_pickle('../UnitTest/Inputs/H2O_orig_all.pickle')

In [41]:
WS = pd.DataFrame(index = dtindex, columns = tc.index)
WD = pd.DataFrame(index = dtindex, columns = tc.index)
Ustar = pd.DataFrame(index = dtindex, columns = tc.index)
WS[:] = 2
Ustar[:] = 0.4

for tow in tc.index:
    WD[tow] = np.arange(len(dtindex))%360

WD = WD.astype(float)
hrz_wind = pd.concat([WS, WD, Ustar], keys = ['WS_top', 'WD', 'Ustar'])
hrz_wind.to_pickle('../UnitTest/Inputs/wind_dat.pickle')

In [45]:
WD_test = hrz_wind.loc['WD']
np.cos(WD_test.astype(float))

Tower,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y
TIMESTAMP_START,,,,,,,,,,,,,,,,,,,,,,,,,
2019-06-01 00:00:00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2019-06-01 00:30:00,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302,0.540302
2019-06-01 01:00:00,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147,-0.416147
2019-06-01 01:30:00,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992,-0.989992
2019-06-01 02:00:00,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644,-0.653644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-31 21:30:00,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964,0.717964
2019-10-31 22:00:00,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814,-0.197814
2019-10-31 22:30:00,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722,-0.931722
2019-10-31 23:00:00,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010,-0.809010
2019-10-31 23:30:00,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503,0.057503

In [31]:
PA_top = pd.DataFrame(index = dtindex, columns = tc.index)
PA_top[:] = 95.7 #kPa - mean values from real data
PA_top.to_pickle('../UnitTest/Inputs/PA_top.pickle')

In [32]:
vert_wind = pd.DataFrame(index = dtindex, columns = tc.index) #Has correct columns, unlike actual data
vert_wind[:] = 0
vert_wind.to_pickle('../UnitTest/Inputs/w_all.pickle')